name: all branch, Pytest + Allure 리폿

on:
  push:
    branches: ["**"] # 모든 브랜치 대상
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest allure-pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Pytest with Allure
        run: |
          mkdir -p allure-results
          pytest --alluredir=allure-results
        continue-on-error: true # 테스트가 실패해도 리포트 생성을 위해 계속 진행

      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Upload Allure Report Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: allure-report
          path: allure-report
